body{
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-color: #E6E6E6;
}
header{
    margin-top: 100px;
}
#header{
    padding: 100px 0 100px 0;
    margin-top: 40px;

}
#diagrama{
    padding: 100px 0 100px 0;
    margin-top: 40px;


}
#testimonial{
    background: #CCCCCC;
    padding: 40px 0 40px 0;
    text-align: center;
    margin-top: 40px;
}
#bannerEnd{
    background: #CCCCCC;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-top: 40px;
}
